#pulseaudio-button * {
	padding-left: 1px;
	padding-right: 1px;
}

#xfce4-notification-plugin * {
	padding-left: 1px;
	padding-right: 1px;
}

#xfce4-clipman-plugin * {
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1.8px;
}

#showdesktop-button {
	background: @fg_color;
	min-width: 10px;
}

#showdesktop-button:checked {
	background: @selected_bg_color;
}

#showdesktop-button:hover {
	background: @selected_bg_color;
}

#whiskermenu-button {
	background: @fg_color;
}

#whiskermenu-button:hover {
	background: @selected_bg_color;
}

#whiskermenu-button:checked {
	background: @selected_bg_color;
}

#whiskermenu-button * {
	padding-left: 5px;
	padding-right: 5px;
}
